[Desktop Entry]
Categories=AudioVideo;
Comment=Music Player Daemon client application for GTK.
Comment[nl]=Music Player Daemon cliënt applicatie voor GTK.
Comment[ru]=Приложение-клиент для Music Player Daemon, использующее GTK.
Comment[ja]=GTK製Music Player Daemonクライアント
Exec=ymuse
Hidden=false
Icon=com.yktoo.ymuse
Name=Ymuse
GenericName=MPD client
GenericName[nl]=MPD-cliënt
GenericName[ru]=MPD-клиент
GenericName[ja]=MPDクライアント
StartupNotify=true
Terminal=false
Type=Application
Keywords=sound;audio;MPD;GTK;Gnome;
X-GNOME-Autostart-enabled=true
