[Desktop Entry]
Categories=AudioVideo;
Comment=Music Player Daemon client application for GTK.
Comment[nl]=Music Player Daemon cliënt applicatie voor GTK.
Comment[ru]=Приложение-клиент для Music Player Daemon и библиотеки GTK.
Exec=ymuse
Hidden=False
Icon=ymuse
Name=Ymuse
GenericName=MPD client
GenericName[nl]=MPD-cliënt
GenericName[ru]=MPD-клиент
StartupNotify=true
Terminal=false
Type=Application
Keywords=sound;audio;MPD;GTK;Gnome;
X-GNOME-Autostart-enabled=true
